@keyframes scaleDownOpacityLeft {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.animation1 {
    animation-name: scaleDownOpacityLeft;
    animation-duration: 1.5s;
    margin-right: 0px;
}

@keyframes scaleAndTranslate {
    0% {}

    90% {
        transform: scale(1) translateX(-28.5rem);
        max-height: 35rem;
        min-height: 35rem;
        min-width: 25rem;
        max-width: 25rem;
        scale: 1;
        opacity: 1;
    }

    91% {
        display: hidden;
        opacity: 0;
    }

    100% {
        display: hidden;
        opacity: 0;
    }
}

.animation2 {
    animation-name: scaleAndTranslate;
    animation-duration: 1.7s;
    margin-right: 0px;
}

@keyframes slide {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        transform: scale(1) translateX(-35.5rem);
    }
}

.slide {
    animation-name: slide;
    animation-duration: 1.5s;
    margin-right: 0px;
}

@keyframes revel {
    0% {
        opacity: 0.9;
    }

    100% {
        opacity: 1;
    }
}

.revel {
    animation-name: revel;
    animation-duration: 0.5s;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-height: 35rem;
    min-width: 25rem;
    max-width: 25rem;
    border-radius: 0.5rem;
}

.smallImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-height: 35rem;
    min-width: 25rem;
    max-width: 25rem;
    border-radius: 0.5rem;
    scale: 0.8;
}